node_modules/
dist/
.idea/
.vscode/
*.log
*.tsbuildinfo
vite.config.js
vite.config.d.ts
capacitor.config.js
capacitor.config.d.ts
.DS_Store
android/.gradle/
android/local.properties
android/app/build/
android/build/
*.jks
*.keystore
*.p12
release-signing/
